@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn Yaml better <a href="https://docs.microsoft.com/aspnet/core">building Web Apps with ASPNET Core/5 is fun</a>.</p>
</div>
