@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mario E Salvatierra</h1>
    <p>Learn Yaml better <a href="https://docs.microsoft.com/aspnet/core">building Web Apps with ASPNET Core/5 is fun</a>.</p>
</div>

<div class="row">
    <div class="col-md-4">
        
        <img src="~/images/smilr.png" class="mypicture rounded mx-auto d-block" alt="...">
        <h5>My favorite quote is:</h5>
        <blockquote class="blockquote">
            <p class="mb-0">I have no special talent. I am only passionately curious.</p>
            <footer class="blockquote-footer">Albert Einstein</footer>
        </blockquote>
    </div>

    <div class="col-md-4">
        <h2 class="text-center">My Skills</h2>
        <ul>
            <li>Java, Javascript, Swift and C#</li>
            <li>HTML, CSS, Jquery Boostrap, React and canvas</li>
            <li>NodeJS, Express, Spring Boot and Axios </li>
            <li>MongoDB, Mongoose and MySQL</li>
            <li>My Github: <a href="https://github.com/mesalvav">https://github.com/mesalvav </a> </li>
        </ul>
    </div>
</div>

